# Core framework
Django==4.2.7

# Forms & UI
django-crispy-forms==2.3
crispy-bootstrap5==0.7

# Image handling (for avatars, blog images, etc.)
Pillow==10.2.0



# Environment variables (optional, but recommended if using secrets/settings split)
python-decouple==3.8

